
@{
    ViewData["Title"] = "Contacto";
}


<div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="email" class="form-control" id="nombre" placeholder="Ingrese su Nombre">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Direccion de correo</label>
    <input type="text" class="form-control" id="email" placeholder="nombre@ejemplo.com">
</div>
<div class="mb-3">
    <label for="asunto" class="form-label">Asunto</label>
    <input type="text" class="form-control" id="asunto">
</div>
<div class="mb-3">
    <label for="mensaje" class="form-label">Mensaje</label>
    <textarea class="form-control" id="mensaje" rows="3"></textarea>
</div>

<div class="text-center text-md-left">
    <a class="btn btn-primary">Enviar</a>
</div>

